.card-container {
    .header-bg {
        background-color: rgba(46, 94, 215, 0.7);
        background-blend-mode: soft-light;
        background-position: center;
        background-size: cover;
    }

    .card {
        width: 37vw !important;
        height: 70vh;

    }
}