.logo-header {
    .logo-video {
        font-family: 'oswald';
        color: $white;
    }

    .logo-tek {
        font-family: 'cookie';
        color: $color-warning;
        margin-left: -17px;
        margin-top: 2px;
    }
}